<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
            class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last active:</strong>
                    <p>{{member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Messages</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{member.knownAs}}">
                <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Interests">
                <h4>Interests</h4>
                <p>{{member.interest}}</p>
            </tab>
            <tab heading="Photos" #photoTab="tab">
                @if (photoTab.active) {
                    <gallery
                        [items]="images"
                        class="gallery"
                    ></gallery>
                }
            </tab>
            <tab heading="Messages">
                <p>messages will go here</p>
            </tab>
        </tabset>
    </div>
    
</div>


<!-- <div class="col-8">
    <h2>About {{member.knownAs}}</h2>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">About {{member.knownAs}}</button>
          <button class="nav-link" id="nav-interests-tab" data-bs-toggle="tab" data-bs-target="#nav-interests" type="button" role="tab" aria-controls="nav-interests" aria-selected="false">Interests</button>
          <button class="nav-link" id="nav-photos-tab" data-bs-toggle="tab" data-bs-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false">Photos</button>
          <button class="nav-link" id="nav-messages-tab" data-bs-toggle="tab" data-bs-target="#nav-messages" type="button" role="tab" aria-controls="nav-messages" aria-selected="false">Messages</button>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
            <h4>Description</h4>
            <p>{{member.introduction}}</p>
            <h4>Looking for</h4>
            <p>{{member.lookingFor}}</p>
        </div>
        <div class="tab-pane fade" id="nav-interests" role="tabpanel" aria-labelledby="nav-interests-tab">
            <h4>Interests</h4>
            <p>{{member.interest}}</p>
        </div>
        <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
            <gallery 
                [items]="images" 
                class="gallery" 
            ></gallery>
        </div>
        <div class="tab-pane fade" id="nav-messages" role="tabpanel" aria-labelledby="nav-messages-tab">
            <h4>Messages</h4>
            <p>Messages will go here</p>
        </div>
      </div>
</div> -->


<!-- 
<div class="col-8">
    <ul class="nav nav-tabs"> 
        <h2>About {{member.knownAs}}</h2>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
            <h4>Description</h4>
            <p>{{member.introduction}}</p>
            <h4>Looking for</h4>
            <p>{{member.lookingFor}}</p>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
            <h4>Interests</h4>
            <p>{{member.interest}}</p>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
            <p>Photos will go hear</p>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
            <p>Messages will go here</p>
        </li>
      </ul>
</div> -->